<!-- jQuery 2.2.3 -->
<script src="{$rooturl}resource/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- DataTables -->
<script src="{$rooturl}resource/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{$rooturl}resource/plugins/datatables/dataTables.bootstrap.js?v=1"></script>
<script src="{$rooturl}templates/_modal_customer.js?v=7"></script>

<div class="modal modal-customer" id="modal-customer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="loader" id="modal-customer-loader"></div>
            <div class="modal-header" style="border:0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <span class="modal-title"><span class="status">Campaign:</span> <span id="modal-campaign-name"></span> - <span class="status">Status:</span> <span class="status-value" id="modal-campaign-status"></span></span>
            </div>
            <div class="modal-body">
                <div class="dropdown dropdown-setting">
                    <a href="javascript:(void)" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{$rooturl}resource/image/icons.png" style="margin-bottom:10px;"></img>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="form" role="form">
                                <p>Show columns</p>
                                <div class="form-group">
                                    <div class="checkbox icheck checkbox-warning">
                                        <input type="checkbox" class="chk-col-modal-customer" id="lb-chk-col-modal-customer-2" colnumb="2" checked>
                                        <label for="lb-chk-col-modal-customer-2">
                                            Design
                                        </label>
                                    </div>
                                    <div class="checkbox icheck checkbox-warning">
                                        <input type="checkbox" class="chk-col-modal-customer" id="lb-chk-col-modal-customer-3" colnumb="3" checked>
                                        <label for="lb-chk-col-modal-customer-3">
                                            Unit
                                        </label>
                                    </div>
                                    <div class="checkbox icheck checkbox-warning">
                                        <input type="checkbox" class="chk-col-modal-customer" id="lb-chk-col-modal-customer-4" colnumb="4" checked>
                                        <label for="lb-chk-col-modal-customer-4">
                                            Quantity
                                        </label>
                                    </div>
                                    <div class="checkbox icheck checkbox-warning">
                                        <input type="checkbox" class="chk-col-modal-customer" id="lb-chk-col-modal-customer-5" colnumb="5" checked>
                                        <label for="lb-chk-col-modal-customer-5">
                                            Revenue
                                        </label>
                                    </div>
                                    <div class="checkbox icheck checkbox-warning">
                                        <input type="checkbox" class="chk-col-modal-customer" id="lb-chk-col-modal-customer-6" colnumb="6" checked>
                                        <label for="lb-chk-col-modal-customer-6">
                                            Date
                                        </label>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-form" id="btn-modal-customer-apply">
                                        Apply
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div style="position: relative;">
                    <table id="tb-customer" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Customer email</th>
                            <th>ID Number</th>
                            <th>Design</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Revenue</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                    <div class="data-loading" id="tb-customer-loader"><span style="margin: auto;"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></span></div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>